<!DOCTYPE html >
<html ng-app="movie">


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>MovieFlix - Edit Movie</title>
    <!--bower:css-->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
    <!--endinject-->

    <!--inject:css-->
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/main-grid.css">
    <link rel="stylesheet" href="css/movie-page.css">
    <link rel="stylesheet" href="css/movie.css">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/payment.css">
    <link rel="stylesheet" href="css/signup.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/user-account.css">
    <link rel="stylesheet" href="css/user-edit.css">
    <!--endinject-->
</head>

<body class="movie-edit-body">

<div ng-include="'./templates/navbar.tmpl.html'"></div>

<div class="movie-edit-wrapper">

    <div class="container-fluid" ng-controller="movieEditController as movieVm">
        <div class=" row">


            <div class="movie-edit-heading col-md-10 col-md-offset-1">
                <h2>Movie Information</h2>
            </div>
            <div class="movie-delete-heading col-xs-12 col-xs-offset-0 col-md-10 col-md-offset-1">

                <form ng-submit="movieEditForm.$valid && movieVm.modifyMovie()" ng-class="{true: 'error'}[submitted && form.movieEditForm.$invalid]" class="movieEditForm" id="movieEditForm" name="movieEditForm" novalidate>
                    <div class="movieEditFormLeft col-md-6">
                        <div class="form-group">
                            <label for="movieName" class="movie-add-label"> MOVIE NAME</label>
                            <div class="movie-add">
                                <input ng-model="movieVm.editMovie.movieName" type="text" id="movieName" name="movieName" class="form-control input-lg"  required autofocus minlength="4">
                                <div class="error" ng-if="movieEditForm.movieName.$dirty" ng-messages="submitted && movieEditForm.movieName.$error">
                                    <div ng-message="required">Please enter a name for the movie</div>
                                    <div ng-message="minlength">Movie name must be longer than 3 characters</div>
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="releaseDate" class="movie-add-label"> RELEASE DATE </label>
                            <div class="movie-add">
                                <input ng-model="movieVm.editMovie.releaseDate" type="date" id="releaseDate" name="releaseDate" class="form-control input-lg">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="rating" class="movie-add-label"> RATING </label>
                            <div class="movie-add">
                                <select ng-model="movieVm.editMovie.rating" name="rating" id="rating" class="form-control input-lg">
                                    <option value=""></option>
                                    <option value="NA">N/A</option>
                                    <option value="G">G</option>
                                    <option value="PG">PG</option>
                                    <option value="PG-13">PG-13</option>
                                    <option value="R">R</option>
                                    <option value="TV-PG">TV-PG</option>
                                    <option value="TV-14">TV-14</option>
                                    <option value="TV-MA">TV-MA</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="runtime" class="movie-add-label"> RUNTIME (MINS) </label>
                            <div class="movie-add">
                                <input ng-model="movieVm.editMovie.runtime" type="text" id="runtime" name="runtime" class="form-control input-lg">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="genres" class="movie-add-label"> GENRES </label>
                            <div class="movie-add">
                                <input ng-model="movieVm.editMovie.genres" type="text" id="genres" name="genres" class="form-control input-lg">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="directors" class="movie-add-label"> DIRECTORS </label>
                            <div class="movie-add">
                                <input ng-model="movieVm.editMovie.directors" type="text" id="directors" name="directors" class="form-control input-lg">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="actors" class="movie-add-label"> ACTORS </label>
                            <div class="movie-add">
                                <input ng-model="movieVm.editMovie.actors" type="text" id="actors" name="actors" class="form-control input-lg">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="writers" class="movie-add-label"> WRITERS </label>
                            <div class="movie-add">
                                <input ng-model="movieVm.editMovie.writers" type="text" id="writers" name="writers" class="form-control input-lg" >
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="language" class="movie-add-label"> LANGUAGE </label>
                            <div class="movie-add">
                                <input ng-model="movieVm.editMovie.languages" type="text" id="language" name="language" class="form-control input-lg" >
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="country" class="movie-add-label"> COUNTRY </label>
                            <div class="movie-add">
                                <input ng-model="movieVm.editMovie.country" type="text" id="country" name="country" class="form-control input-lg" >
                            </div>
                        </div>


                    </div>


                    <div class="movieEditFormRight col-md-6 ">
                        <div class="form-group">
                            <label for="awards" class="movie-add-label"> AWARDS </label>
                            <div class="movie-add">
                                <input ng-model="movieVm.editMovie.awards" type="text" id="awards" name="awards" class="form-control input-lg" >
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="poster" class="movie-add-label"> POSTER LINK </label>
                            <div class="movie-add">
                                <input ng-model="movieVm.editMovie.posterLink" type="text" id="poster" name="poster" class="form-control input-lg" >
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="metaScore" class="movie-add-label"> METASCORE </label>
                            <div class="movie-add">
                                <input ng-model="movieVm.editMovie.metaScore" type="number" id="metascore" name="metascore" class="form-control input-lg" min="0" max="100">
                                <div class="error" ng-if="movieEditForm.metaScore.$dirty" ng-messages="movieEditForm.metaScore.$error">
                                    <div ng-message="min">Please enter a Meta Score between 0 and 100</div>
                                    <div ng-message="max">Please enter a Meta Score between 0 and 100</div>
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="imdbRating" class="movie-add-label"> IMDB RATING </label>
                            <div class="movie-add">
                                <input ng-model="movieVm.editMovie.imdbRating" type="number" name="imdbRating" min="0.0" step="0.01" id="imdbRating" class="form-control input-lg"  min="0" max="10">
                                <div class="error" ng-if="movieEditForm.imdbRating.$dirty" ng-messages="movieEditForm.imdbRating.$error">
                                    <div ng-message="min">Please enter an IMDB Rating between 0 and 10</div>
                                    <div ng-message="max">Please enter an IMDB Rating between 0 and 10</div>
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="imdbVotes" class="movie-add-label"> IMDB VOTES </label>
                            <div class="movie-add">
                                <input ng-model="movieVm.editMovie.imdbNumVotes" type="number" id="imdbVotes" name="imdbVotes" class="form-control input-lg"  min="0">
                                <div class="error" ng-if="movieEditForm.imdbNumVotes.$dirty" ng-messages="movieEditForm.imdbNumVotes.$error">
                                    <div ng-message="min">The number of votes must be 0 or higher</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="imdbID" class="movie-add-label"> IMDB ID </label>
                            <div class="movie-add">
                                <input ng-model="movieVm.editMovie.imdbID" type="text" name="imdbID" id="imdbID" class="form-control input-lg" >
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="type" class="movie-add-label"> TYPE </label>
                            <div class="movie-add">
                                <select ng-model="movieVm.editMovie.type" name="type" id="type" name="type" class="form-control input-lg">
                                    <option value=""></option>
                                    <option value="series">TV SERIES</option>
                                    <option value="movie">MOVIE</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="plot" class="movie-add-label"> PLOT </label>
                            <div class="movie-add">
                                <textarea ng-model="movieVm.editMovie.plot" class="form-control" rows="6" id="plot" name="plot" ></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <button class="btn btn-lg btn-primary btn-block" ng-disabled="movieEditForm.$invalid" ng-click="submitted=true" type="submit">
                                Submit
                            </button>
                        </div>
                    </div>
                </form>


            </div>
        </div>
    </div>
</div>


<footer class="footer">
    <h5>Questions? Call 0-000-000-000</h5>
    <div>
        <ul class="list-inline ">
            <li><a href="# "><h5>Pricing</h5></a></li>
            <li><a href="# "><h5>Contact</h5></a></li>
            <li><a href="# "><h5>Terms</h5></a></li>
        </ul>
    </div>
</footer>




<!--bower:js-->
<script src="../bower_components/angular/angular.js"></script>
<script src="../bower_components/jquery/dist/jquery.js"></script>
<script src="../bower_components/angular-messages/angular-messages.js"></script>
<script src="../bower_components/angular-route/angular-route.js"></script>
<script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="../bower_components/angular-cookies/angular-cookies.js"></script>
<!--endinject-->


<!--inject:js-->
<script src="movie.js"></script>
<script src="app/services/user-edit.service.js"></script>
<script src="app/services/user-account.service.js"></script>
<script src="app/services/sign-up.service.js"></script>
<script src="app/services/payment.service.js"></script>
<script src="app/services/movie.service.js"></script>
<script src="app/services/movie-edit.service.js"></script>
<script src="app/services/movie-delete.service.js"></script>
<script src="app/services/movie-add.service.js"></script>
<script src="app/services/main-grid.service.js"></script>
<script src="app/services/login.service.js"></script>
<script src="app/services/custom-cookie.service.js"></script>
<script src="app/directives/navbar.directive.js"></script>
<script src="app/controllers/user-edit.controller.js"></script>
<script src="app/controllers/user-account.controller.js"></script>
<script src="app/controllers/sign-up.controller.js"></script>
<script src="app/controllers/payment.controller.js"></script>
<script src="app/controllers/navbar.controller.js"></script>
<script src="app/controllers/movie.controller.js"></script>
<script src="app/controllers/movie-edit.controller.js"></script>
<script src="app/controllers/movie-delete.controller.js"></script>
<script src="app/controllers/movie-add.controller.js"></script>
<script src="app/controllers/main-grid.controller.js"></script>
<script src="app/controllers/login.controller.js"></script>
<script src="app/configuration/module.config.js"></script>
<script src="js/ui-bootstrap-tpls-2.1.4.min.js"></script>
<script src="movie.constant.js"></script>
<!--endinject-->


</body>

</html>