/*MAIN GRID*/

.main-grid-body {
    background-color: rgba(0, 0, 0, 0.8);
}

.main-grid-wrapper {
    margin: 6% auto 6% auto;
}

.main-grid-filters .btn {
    margin-top: 10%;
}

.main-grid-heading {
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

.main-grid-filter-type {
    display: inline-block;
    margin-left: 10px;
}

.main-grid-filter-sort {
    display: inline-block;
    margin-left: 10px;
}

.main-grid-movie-body {
    background-color: #f3f3f3;
}

.main-grid-movie-image-wrapper .main-grid-pagination-list {

}

.main-grid-movie-image-wrapper .main-grid-movie-image {
    border-style: solid;
    border-width: 3px;
    padding: 4%;
    margin: 4%;
}

@media (min-width: 991px) {
    .main-grid-movie-image-wrapper .main-grid-movie-image img {
        height: 400px;
    }
}



.main-grid-filters-sub input{
    margin-top: 20px;
}

.main-grid-filter-type-head .btn{
    width: 60px;
}
.main-grid-movie-image-wrapper .main-grid-movie-image img {
    width: 100%
}

.main-list-movie-image-wrapper {
    margin-top: 10px;
    margin-bottom: 10px;
}

.main-list-movie-image-wrapper .main-list-movie-image img {
    width: 100%;
}

.main-grid-wrapper .main-grid-movie-body a {
    color: black;
}
