<footer class="footer">
    <h5>Questions? Call 0-000-000-000</h5>
    <div>
        <ul class="list-inline ">
            <li>
                <a href="# ">
                    <h5>Pricing</h5>
                </a>
            </li>
            <li>
                <a href="# ">
                    <h5>Contact</h5>
                </a>
            </li>
            <li>
                <a href="# ">
                    <h5>Terms</h5>
                </a>
            </li>
        </ul>
    </div>
</footer>